body, html{
	height: 100%;
	overflow-y: none;
}

main{
	display: flex;
	justify-content: center;
	height: 100%;
	background: linear-gradient(0deg, #fff, #A8C7E4);
	font-family: Tahoma;
}
img{
	cursor: pointer;
}
::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a5a2a2;
  border-radius: 0px;
}
.container{
    width: 1000px;	
	display: flex;
	height: 100%;
	
}
.right-header{
	display: flex;
	flex-direction: row;
	align-items: center;

}
.right-header div{
padding-right: 25px;
flex-grow: 1;
}
.right-header label{
width: 25px;
	
}
.right-block{
	display: flex;
	flex-direction: column;
	border: 1px solid #ECF0F1;
	flex-grow: 1;
}

.container-right{
	display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-grow: 1;
    flex-shrink: 1;
}
.inf-order-1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.eur{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.inf-order-icons{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 30px;

}
.inf-order-2{
	display: flex;
	flex-direction: column;
}

.inf-order-2 div{
	margin-bottom: 9px; 
}
.table tr td:first-child{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 7px; 
}
.item-table{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background: #FAFAFA;
}
.item-table table{
	flex-grow: 1;
	margin-left: 20px;
	margin-right: 20px;
}

.item-table table tr td{
	flex-grow: 1;	
}

.product-show{
	display: none;
}
.right-block footer{
	flex-grow: 0;
	flex-shrink: 0;
	background: #2F3B47;
}
.left-block{
	border: 1px solid #ECF0F1;
	width: 250px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	background: #fff;
}
.orders{	
flex-grow: 1;
flex-shrink: 1;
overflow-y: scroll;
}

.order-container-2 {
display: flex;
flex-direction: column;
justify-content: space-between;
margin-bottom: 9px;
}

.left-block footer{
	flex-grow: 0;
	flex-shrink: 0;
	background: #2F3B47;
}
.humburger{
	display: none;
}
label[for="humburger"]{
	display: none;
}
.search{
  display: flex;
  flex-direction: row;
  border: 1px #DFE4E5 solid;
  margin: 10px;
  justify-content: space-between;
  padding: 3px;
  margin-bottom: 7px;
}

input[name="search"]
{
  padding-left: 3px;
  font-style: italic;
  flex-grow: 1;
  border: none;
  width: 177px;
}
.form-img img{
  cursor: pointer;
  margin-left: 5px;
}

.form-img{
	display: flex;
	flex-direction: row;
}

.person-icon img{
	border-radius: 100px;
	border: 2px solid #0D7AB5;
}
.inf-order-icons div{
  margin-right:  15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.active{
  border-bottom: 3px #4679B2 solid;
}
.activeOrder{
  background-color: #E8EFF7;
}
.order-info{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.main-info{
	display: flex;
	flex-direction: column;
}
.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20%
}
.CustomerInfo{
  padding-left: 20px;
  padding-right: 150px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
}
.customer-img{
  display: flex;
  flex-direction: column;

}
.details{
  margin-bottom: 15px;
}


@media screen and (max-width: 800px){
.left-block{
	display: none;
}
label[for="humburger"]{
	display: inline;
}
.humburger:checked + .left-block{
	display: inline;
}
.humburger:checked ~ div{
	flex-shrink: 0;
}
.container{
width: 1250px;
}

@media screen and (max-width: 550px){
.table tr{
	display: flex;
	flex-direction: column;
}
.table tr td:first-child{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-right: 7px; 	
}

.item-table table tr{
	display: flex;
	flex-direction: column;
}
.product{
	display: none;
}
.product-show{
	display: inline;
}
.info{
	display: flex;
	flex-direction: column;
}
.customer-img{
margin-top: 20px;
}

}
