.right-block header{
	border-bottom: 1px solid #D8E3E5;
	height: 27px;
	flex-shrink: 0;
	background: #EFF4F8;
	text-align: center;
}

.big{
	font-size: 17px;
	font-weight: 400;
	 display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:20px
}
.inf-order-1{
	font-size: 19px;
	color: #4D5256;
}
.number-of-order{
	 display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:60px;
}
.eu{
	color: #87888C;
}
.eur{
	font-size: 12px;
	color: #87888C;
}
.big-2{
	font-size: 17px;
	color: #504E4F;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 15px;
	padding-left: 20px;
}
.address{
	background: #fff;
	border-bottom: 1px solid #D9DDE6;
}
.table{
	margin-left: 90px;
	margin-bottom: 40px; 
}
.table tr td:nth-child(2n) {
	font-size: 15px;
	color:#656563;
}
.product-table-head{
	border-bottom: 1px solid #D9DDE6;
	color: #F7F7F7;
}
.product-info{
	background: #fff;
}
.bold{
	font-size: 12px;
	font-weight: bold;
}
.product-table{
	border-bottom: 1px solid #D9DDE6;
}
.product-show{
	font-size: 15px;
	color: #605C5D;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #D9DDE6;
	padding-bottom: 10px; 
}
.left-block header{
	text-align: center;	
	padding-top: 10px;
	flex-shrink: 0;
	background: #fff;
}
.head-name{
	font-size: 15px;
	color:#93989C;
	font-weight: normal;
}
.first-footer{
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #2F3B47;
	flex-shrink: 0;
	padding-right: 15px;
}
.first-footer img{
	margin-left: 25px;
	margin-top: 5px;
	cursor: pointer;
}
.second-footer{
	background-color: #2F3B47;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.second-footer img{
	cursor: pointer;
	margin-right: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.search-form{
	border: none;
}
.hidder{
	font-size: 15px;
    color: #605C5D;
}
.inf-order{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 20px;
	background: #EFF4F8;
	border-bottom: 2px solid #D9DDE6;
}
.little{
	font-size: 12px;
	color: #93989C;
	font-weight: normal;
}
.status{
	color: green;
}
.date{
	font-size: 17px;
}
.big{
	font-size: 17px;
	font-weight: 400;
}
.eu{
	color: #87888C;
}
.eur{
	font-size: 12px;
	color: #87888C;
}
.product-show{
	font-size: 15px;
	color: #605C5D;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #D9DDE6;
	padding-bottom: 10px; 
}
.order-container-1{
  font-size: 12px;
  color: #9DA5AA;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.order-ship-date{
  margin-top: 10px;
}
.order-status{
  color: #18B100;
}
.status-success{
  color: #18B100;
}
.status-late{
  color: red;
}
.status-pending{
  color: orange;
}
.order:hover{
  background-color: #E8EFF7;
  cursor: pointer;
}
.order{
  padding: 10px;
  border-bottom: 1px #DFE4E5 solid;
  padding-bottom: 7px;
}
.table-details tr td:nth-child(2n) {
    font-size: 15px;
    color: #656563;
}



